body{
    background: #f6f6f6;
    font-family: Roboto;
    margin: 0;
}
h1{
    font-family:  Shrikhand;
}
button{
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}