.ville{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    i{
        margin-right: 15px;
    }
}
.intro{
    background-color: #f6f6f6;
    height: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        width: 75%;
        margin-top: 45px;
    }
    p{
        width: 75%;
        margin-top: 0;
        margin-bottom: 35px;
    }
}
button{
    outline: none;
    cursor: pointer;
}
.btn-violet {
    width: 218px;
    height: 50px;
    background: $degrade;
    color: white;
    font-family: Roboto;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.20);
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $degrade-light;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.20);
        opacity: 0;
        z-index: -1;
        transition: all 550ms;
        border-radius: 25px;
    }
}
.h2-accueil {
    width: 85%;
    display: flex;
    margin: 50px auto 35px auto;
    &__2 {
        margin-top: 0;
    }
}

.fctn{
    display: flex;
    flex-direction: column;
}
.btn-fct{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    width: 85%;
    height: 75px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 30px;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    @media (min-width: 650px){
        width: 70%;
    }
    &__div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $couleur-principal;
        color: white;
        margin-right: 25px;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        margin-left: -10px;
        
        }
        &__p{
            font-weight: bold;
            i{
                margin-right: 15px;
            }
        }
}
.fa-store{
    color: $couleur-principal;
}








.section-restau{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.div-figure{
    @media (min-width: 650px){
        display: flex;
        flex-wrap: wrap;
    }
}
.lien-figure{
    @media (min-width: 650px){
        width: 45%;
        margin: auto;
    }
}

.figure-restau{
    position: relative;
    width: 85%;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-bottom: 18px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    @media (min-width: 650px){
        margin: 0;
        margin-bottom: 25px;
        width: 100%;
        height: 300px;
    }
    span {
        position: absolute;
        top: 20px;
        right: 20px;
        background: $couleur-tertiaire;
        color: darken($couleur-tertiaire, 45);
        padding: 4px 10px;
    }
    &__img{
        width: 100%;
        height: calc(100% - 77px);
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &__figcaption{
        height: 77px;
        display: flex;
        div{
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 15px;
        }
        .fa-heart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            font-size: 1.6em;
            transition: background-color 2s;
            position: relative;
            z-index: 1;
            &:hover {
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: "\f004";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to top, $couleur-secondaire 0%, $couleur-principal 100%);
                opacity: 0;
                z-index: 5;
                transition: opacity 1s;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__figcaptionh3{
        margin: 0;
    }
    p{
        margin-top: 5px;
    }
}