.main-carte {
    @media (min-width: 1200px) {
        display: flex;
        height: 100%;
        width: 100%;
    }
}
.img-carte {
    width: 100%;
    height: 260px;
    object-fit: cover;
    @media (min-width: 1200px) {
        width: 35%;
        height: auto;
    }
}
.section-menu{  // contient toute la page sauf l'image
    background: $background;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    @media (min-width: 1200px) {
        width: 65%;
        top: 0;
        left: -50px;
        margin-bottom: 0;
        margin-right: -50px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 50px;
    }
}
.header-carte{   // nom de restau
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    width: 88%;
    font-size: 1.3em;
    h1 {
        font-weight: 500;
    }
    .fa-heart {
        font-size: 1.4em;
    }
}

.carte {   // contient les plats
    @media (min-width: 650px){
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }
    &__h2 { // entrée plat ...
        display: inline-block;
        margin-top: 45px;
        margin-bottom: 25px;
        margin-left: 25px;
        position: relative;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.2em;
        @media (min-width: 650px){
            width: 15%;
        }
        &::after{   // trait vert
            content: "";
            display: block;
            border-bottom: 5px solid $couleur-tertiaire;
            width: 50px;
            height: 5px;
        }
    }
    ul {
        margin-top: 0;
        @media (min-width: 650px){
            width: 80%;
            margin-top: 25px;
        }
    }
    &__menu {     // carte de plats
        @include cartemenu;
        @media (min-width: 650px){
            width: 75%;
        }
        &:hover > .anim {  //apparition de la div verte 
            animation: anim-menu 600ms 100ms both;
            animation-play-state: running;
        }
        &:hover .fa-check-circle {   // rotation de l'icon
        transform: rotate(360deg);
        transition: all 500ms 350ms;
        }
    }
    &__h3, &__p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__div{  // contient les h3 et p
        margin: 15px auto 11px 15px;
        min-width: 60%;
    }
    &__prix{
        display: flex;
        align-items: flex-end;
        margin: auto 15px 11px;
        transform: translateX(0);
        font-weight: bold;
    }
    .anim {
        width: 0;
        height: auto;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        font-size: 1.6em;
        @include display;
        background-color: $couleur-tertiaire;
        color: white;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}
.fa-check-circle{
    transform: rotate(0deg);
    color: white;
}
.btn-violet__carte {   // btn commande
    margin: 45px auto;
}
.footer-carte {
    display: flex;
}
.carte-1{    //decalage pour l'apparition en cascade des plats 
    animation: app-menu 300ms both;
}
.carte-2{
    animation: app-menu 300ms 100ms both;
}
.carte-3{
    animation: app-menu 300ms 200ms both;
}
.carte-4{
    animation: app-menu 300ms 300ms both;
}
.carte-5{
    animation: app-menu 300ms 400ms both;
}
.carte-6{
    animation: app-menu 300ms 500ms both;
}
.carte-7{
    animation: app-menu 300ms 600ms both;
}
.carte-8{
    animation: app-menu 300ms 700ms both;
}
.carte-9{
    animation: app-menu 300ms 800ms both;
}
.carte-10{
    animation: app-menu 300ms 900ms both;
}