.chargement{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
    background-color: $background;
    animation: loader 3000ms both;
}

.spin-1{
    border: 1px solid #f8f8f8;
    border-left: 8px solid $couleur-principal;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    @include display;
    animation: spin 3s backwards infinite;
  }
  .spin-2{
    border: 1px solid #f8f8f8;
    border-left: 8px solid $couleur-secondaire;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    @include display;
    animation: spin 3s 200ms backwards infinite;
  }
  .spin-3{
    border: 1px solid #f8f8f8;
    border-left: 8px solid $couleur-tertiaire;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @include display;
    animation: spin 3s 400ms backwards infinite;
  }
  
  
 

