@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin cartemenu {
    background: white;
    cursor: pointer;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: $radius;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-between;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}
@mixin carterestau {
    position: relative;
    width: 85%;
    height: 250px;
    border-radius: $radius;
    background-color: white;
    margin: auto;
    margin-bottom: 18px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
}
@mixin aftercoeur {
    content: "\f004";
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(to top, $couleur-secondaire 15%, $couleur-principal 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
}