$couleur-principal: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$bgc-footer: #353535;
$background: #f6f6f6;
$degrade: radial-gradient(circle at top left, lighten($couleur-principal, 15) 0%, darken($couleur-principal, 5) 100%);