$couleur-principal: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$bgc-footer: #353535;
$background: #f6f6f6;

$degrade: linear-gradient(to right bottom, $couleur-secondaire 0%, $couleur-principal 100%);
$degrade-light: linear-gradient(to right bottom, lighten($couleur-secondaire, 5%) 0%, lighten($couleur-principal, 5%) 100%);

$radius: 25px;
